extends layout.static

block promo
  p.promo-web.text-center Poszukujesz kompana na przejażdżkę? Umów się przez <a href="https://my.dropsport.com">Dropsport</a>!
  p.promo-android.text-center(style="display:none;") Poszukujesz kompana na przejażdżkę? Umów się przez aplikację <a href="https://play.google.com/store/apps/details?id=com.dropsport.android">Dropsport</a>!
  hr

block content
  .row: .col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
    table#rowery.table
      thead
        th Stacja
        th.text-right Liczba rowerów
      tbody
      tfoot
        tr
          td(colspan=2)
            #info
              .alert.alert-info 
                span.glyphicon.glyphicon-refresh
                |  Ładowanie danych…
