extends layout.static


block content
  .row: .col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
    table#rowery.table
      thead
        th Stacja
        th.text-right Liczba rowerów
      tbody
      tfoot
        tr
          td(colspan=2)
            #info
              .alert.alert-info 
                span.glyphicon.glyphicon-refresh
                |  Ładowanie danych…
