extends layout.static

block content
  .jumbotron
    .container
      h1 Rower miejski?
      p 
        | Sprawdź gdzie najbliżej wypożyczysz! 
      p
        | Znajdujemy rowery w 
        a(href='/krakow.html') Krakowie
        | , 
        a(href='/opole.html') Opolu
        | , 
        a(href='/poznan.html') Poznaniu
        | ,        
        a(href='/trojmiasto.html') Trójmieście
        | ,  
        a(href='/warszawa.html') Warszawie
        |  oraz 
        a(href='/wroclaw.html') Wrocławiu
        | .
