extends base.static

block city
  script.
    var city = 232;

block append helpdesk
  li: a(href="http://kmkbike.pl") KMKBike
  li: a(href="tel:+48126167575") BOK: 12 616 75 75  
  
block prepend footer
  p.text-center Znajdź najbliższą stację <a href="http://kmkbike.pl">KMKBike</a> i sprawdź liczbę dostępnych rowerów. 
